.App {
  text-align: center;
  box-sizing: border-box;
  background-color: #001c30;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  color: #ffffff;
}

/* Common Css styles */

.flex {
  display: flex;
}

.form {
  /* border: 1px dashed white; */
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.form input,
button {
  align-self: stretch;
}

.form p {
  align-self: center;
}

.form h3,
p {
  margin: 0;
}

.text-field {
  padding: 5px;
  border-radius: 5px;
  font-size: 18px;
}

button {
  border: none;
  border-radius: 5px;
  background-color: #001c30;
  padding: 10px 5px;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

@media (max-width: 650px) {
  .form {
    width: 80%;
  }
}
