:root {
  --background-color: #121212;
  --accent-color: #1d9bf0;
  --text-color: #e7e9ea;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  box-sizing: border-box;

  min-height: 100vh;
}

body {
  background-color: var(--background-color);
}

* {
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  color: var(--text-color);
}

/* Grid Layout for entire app */

.layout-25-50-25 {
  display: grid;
  grid-template-columns: 25% auto 25%;
  min-height: 80vh;
}

/* Flex styles */

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-row-spaceBetween {
  display: flex;
  flex-direction: row;
  align-content: center;
  text-align: left;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
}

/* Common Css styles */

.header {
  padding: 10px 30px;
  border-bottom: 1px solid #dafffb;
}

.form {
  /* border: 1px dashed white; */
  width: 50%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.form input,
button {
  align-self: stretch;
}

.form p {
  align-self: center;
}

.form h3,
p {
  margin: 0;
}

.text-field {
  padding: 5px;
  border-radius: 5px;
  font-size: 18px;
}

/* Button style */

button {
  border: none;
  border-radius: 5px;
  background-color: #001c30;
  padding: 10px 5px;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
}

.follow-btn {
  background-color: #176b87;
  border-radius: 10px;
  padding: 10px;
  height: 80%;
}

@media (max-width: 650px) {
  .form {
    width: 80%;
  }

  .layout-25-50-25 {
    grid-template-columns: auto;
  }

  .navBar {
    display: none;
  }
}
